@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html{
    font-family: 'Great Vibes', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: vh;
    width: %;

}
/*Body Section*/
#body{
    background-image: url(file:///C:/Users/user/Desktop/Weddings/img/2.jpg);
    background-size: cover;
    background-position: center, center;
    position: relative;
    height: 100vh;
    z-index: 1;
}
#body::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
 #body h1{
    height: 100vh;
   /* font-family: 'Zilla Slab Highlight', cursive;*/
    font-style: ;
    color: ;
    letter-spacing: .1rem;
    line-height: ;
    



    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2rem;
    
    
    position: relative;
    overflow: hidden;
    /*background: linear-gradient(90deg,rgb(192, 250, 177),#000, rgb(192, 250, 177), #000, rgb(192, 250, 177));*/
    background: linear-gradient(90deg,#AAFF00,#5f5151, #AAFF00, #000, #AAFF00);
    background-repeat: no-repeat;
    background-size: calc(80%);
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: ;
    -webkit-text-fill-color: rgb(134, 134, 29, .1);

}


@keyframes hamburger_puls{
    0%
    {
        opacity: 1;
        transform: scale(1);
    }
    100%
    {
        opacity: 0;
        transform: scale(1.1);
    }
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}
#body button{
    position: fixed;
    color: #fff;
    z-index: 1;
}
#body h2{
    color: #AAFF00;
    position: absolute;
    height: vh;
    text-align: ;
    margin-top: 1205px;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    bottom: 0;
    z-index: 1000;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 1000;
}
#header .header{
    background-color: transparent;
    opacity: ;
    min-height: 10vh;
    margin-top: 15px;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    margin-left: px;
    z-index: ;
}
#header .brand{
    margin-left: 30px;
    display: flex;
  
}
#header .brand h1{
    font-weight: 500;
    /*color: rgb(162, 247, 141);*/
    color: #AAFF00;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    margin-left: 20px;
}
#header h3{
    color: #AAFF00;
    font-weight: 500;
    margin-bottom: 50px;
    
}
#header .nav-list button{
    background-color: #AAFF00;
    border: 1px solid #AAFF00;
    letter-spacing: .1rem;
    border-radius: 80%;
    padding: 5px;
    font-family: 'Great Vibes', cursive;
    color: rgb(4, 42, 4);

}
#header .nav-list ul{
    list-style: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100%;
    position: absolute;/*makes the ul menu to cover the whole page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* background-color: rgb(13, 115, 115);*/
   background-color: rgb(4, 42, 4);
    opacity: ;
    transition: .8s ease left;
    z-index: 1;
    overflow-x: hidden;

}
#header .nav-list ul a{
    color: rgb(4, 42, 4);
    text-decoration: none;
    padding: 25px;
    display: block;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: ;
    
}
#header .nav-list ul.active{
    left: 0;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    /*border: 3px solid white;*/
    position: relative;
    border-radius: %;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-right: 40px;
    transform: scale(.7);
    
}
#header .hamburger .bar{
    height: 5px ;
    width: 50px;
    position: relative;
    /*background-color: rgb(192, 250, 177);*/
    background-color: rgb(25, 194, 25);
    
    border-radius: 50%;
    padding-right: px;

    z-index: -1;
}
#header .hamburger .bar h1{
    color: white;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /*background-color: rgb(162, 247, 141);*/
   /* background-color: rgb(107, 203, 82);*/
    background-color: #AAFF00;
    border-radius: 50%;
    transition: .3s ease;
    transition-property: top, bottom;
    left: 0;
}
#header .hamburger .bar::after{
    transform: translateY(-16px);
    border-radius: 50%;
}
#header .hamburger .bar::before{
    transform: translateY(16px);
    border-radius: 50%;
}
/*After Javascript Code*/
#header .hamburger.active .bar{
    transform: translateX(-50px);
    background-color: transparent;
}
#header .hamburger.active .bar::after{
    transform: rotate(45deg) translate(35px, -35px);
}
#header .hamburger.active .bar::before{
    transform: rotate(-45deg) translate(35px, 35px);
}
/*End Body Section*/

/*Footer Section*/
#footer .footer{
    background-color: rgb(4, 42, 4);
    height: 20vh;
    
}
#footer p{
    color: #AAFF00;
}
#footer h1{
    color: #AAFF00;
    font-weight: 500;
    margin-top: 26px;
    margin-bottom: 16px;
    font-size: 1.1rem;
    letter-spacing: .1rem;
}
#footer h1 span{
    color: rgb(25, 194, 25);
}
#footer h2{
    color: #AAFF00;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.7rem;
    letter-spacing: .1rem;
}
#footer h3{
    color: #AAFF00;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 0.6rem;
    letter-spacing: .1rem;
    
}

/*Media Query For Desktop*/
@media only screen and (min-width: 1200px){
    #header .header{
        min-height: 3vh;
    }
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
        margin-right: 50px;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    #header .nav-list ul li{
        display: inline-block;
        background-color: transparent;
    }
    #header .nav-list ul li a{
        font-size: rem;
    }
    #header .nav-list ul li a button{
        font-size: 0.7rem;
        background-color: transparent;
        border-color: transparent;
        color: #AAFF00;
        font-size: 1rem;
        
    }
}

/*End FooterSection*/

/*Slider Section*/
/*#slide .slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
#slide .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
#slide .slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    transition: 2s;
}
#slide .slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}
/*End Slider Section*/

/*Slider 1 Section*/
/*.slider1{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slider1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.slider1 span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    transition: 2s;
}
.slider1 span:hover img{
    transform: translateY(-50px) scale(1.2);
}

/*End Slider 1 Section*/
/*Slider 2 Section*/
/*.slider2{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slider2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.slider2 span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    transition: 2s;
}
.slider2 span:hover img{
    transform: translateY(-50px) scale(1.2);
}
/*End Slider 2 Section*/

